{{#if isfirst}}
{{#if (gt unread_count 0)}}
<div class="notifications-count notifier" id="unread-notifications-count"
    hx-swap-oob="true">
    {{unread_count}}
</div>
{{/if}}
<script>window.startReceivingNotifications()</script>
{{/if}}

{{#if (eq (len notifications) 0)}}
{{#if (or (or (eq filter "all") (eq filter "unread")) (not filter))}}
<li class="no-notifications">
    You can relax for now.
    You have no notifications.
</li>
{{else}}
{{#if (eq filter "read")}}
<li class="no-notifications">
    You haven't read any notifications yet.
    You can mark any of them as read.
</li>
{{/if}}
{{/if}}
{{else}}
{{#each notifications as |notification|}}
<li>
    {{#if notification.link}}
    <a href="{{notification.link}}" hx-target="body" hx-target-error="body">
        {{#if notification.is_read}}
        <div class="read-indicator"></div>
        {{/if}}
        <div id="profile{{notification._sender_id}}"
            style="width: 40px; height: 40px;">
            <div hx-target="#profile{{notification._sender_id}}"
                hx-get="/user/api/{{notification._sender_id}}/img"
                hx-swap="innerHTML" hx-trigger="load once">
            </div>
        </div>
        <div class="notifications-metadata">
            <div class="message">
                {{notification.message}}
            </div>
            <time>{{(format_datetime_difference
                notification._created_at)}}</time>
        </div>
    </a>
    {{else}}
    <div>
        {{#if notification.is_read}}
        <div class="read-indicator"></div>
        {{/if}}
        <div id="profile{{notification._sender_id}}"
            style="width: 40px; height: 40px;">
            <div hx-target="#profile{{notification._sender_id}}"
                hx-get="/user/api/{{notification._sender_id}}/img"
                hx-trigger="load once">
            </div>
        </div>
        <div>
            <div class="message">
                {{notification.message}}
            </div>
            <time>{{(format_datetime_difference
                notification._created_at)}}</time>
        </div>
    </div>
    {{/if}}
</li>
{{/each}}
{{/if}}