<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>{{ metadata.title }}</title>
<meta name="title" content="{{ metadata.title }}" />
<meta name="description" content="{{ metadata.description }}" />
{{#unless metadata.open_graph}}
<meta name="og:title" content="{{metadata.title}}" />
<meta name="og:description" content="{{metdata.description}}" />
{{else}}
<meta name="og:title" content="{{metadata.open_graph.title}}" />
<meta name="og:title" content="{{metadata.open_graph.description}}" />
{{#if metadata.open_graph.image}}
<meta name="og:image" content="{{metadata.open_graph.image.url}}" />
<meta name="og:image:secure_url" content="{{metadata.open_graph.image.url}}" />
<meta name="og:image:width" content="{{metadata.open_graph.image.width}}" />
<meta name="og:image:height" content="{{metadata.open_graph.image.height}}" />
<meta name="og:image:alt" content="{{metadata.open_graph.image.alt}}" />
{{/if}}
{{/unless}}
<meta property="og:site_name" content="{{ metadata.site_name }}" />
<meta name="environment" content="{{ metadata.env }}" />
{{#if user}}
<meta name="is_logged_in" content="true" />
{{else}}
<meta name="is_logged_in" content="fase" />
{{/if}}
<link rel="preload" href="/build/styles/fonts.min.css" as="style" />
<link rel="stylesheet" href="/build/styles/fonts.min.css" />
<link rel="preload" href="/build/styles/resets.min.css" as="style" />
<link rel="stylesheet" href="/build/styles/resets.min.css" />
<link rel="preload" href="/build/styles/main.min.css" as="style" />
<link rel="stylesheet" href="/build/styles/main.min.css" />
<script src="/assets/scripts/htmx.min.js"></script>
<script src="/assets/scripts/htmx-head.min.js"></script>
<script src="/assets/scripts/htmx-loading.min.js"></script>
<script src="/assets/scripts/htmx-response-target.min.js"></script>
<script src="/build/index.min.js" type="module"></script>
<style>
    [data-loading] {
        display: none
    }

    .hidden {
        display: none !important
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border-width: 0;
    }
</style>
{{#unless (eq (len stylesheets) 0)}}
{{#each stylesheets as |stylesheet|}}
<link rel="stylesheet" href="{{stylesheet}}">
{{/each}}
{{/unless}}