<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
	<head>
		{{> partials/head}}
		<link rel="preload" href="/build/styles/homepage.min.css" as="style">
		<link rel="stylesheet" href="/build/styles/homepage.min.css">
		{{> partials/head/htmx-loading}}
	</head>
	<body hx-ext="loading-states, response-targets">
		{{> partials/components/noscript}}
		{{> partials/main_header}}
		<main class="container">
			<section class="homepage__container">
				<h1>Discover communities</h1>
				<p>or <a href="/create/community">create your own</a></p>
				<div style="margin-top: 5rem">
					<div data-loading-states class="search-input-container">
						<input id="offset-input" type="number" hidden readonly value="{{offset}}" name="o">
						<svg style="pointer-events: none; touch-action: none;">
							<use href="/assets/icons/icons.svg#search"></use>
						</svg>
						<input
							hx-trigger="keyup changed delay:500ms, search"
							hx-get="/preview/community"
							hx-target="#section-of-communities"
							hx-swap="outerHTML"
							hx-sync="#search-input:replace"
							id="search-input"
							type="search"
							name="q"
							value="{{search}}"
							placeholder="Search for communities"
							data-loading-delay="200"
							hx0-target-error="#section-of-communities"
						>
						<span role="presentation" class="spinner" data-loading-class="spin" data-loading></span>
					</div>
				</div>
				<!-- TODO: Add Categories -->
				<div data-with-grid hx-target-error="#section-of-communities" data-loading-states id="section-of-communities" hx-trigger="revealed" hx-indicator=".skeleton" hx-get="/preview/community?{{#if search}}q={{search}}{{/if}}{{#if category}}&c={{category}}{{/if}}&o={{offset}}" hx-swap="outerHTML">
					<div data-type="card" style="--_skeleton-delay:0ms" class="skeleton"></div>
					<div data-type="card" style="--_skeleton-delay:200ms" class="skeleton"></div>
					<div data-type="card" style="--_skeleton-delay:400ms" class="skeleton"></div>
				</div>
				<div id="offset-breadcrumbs">
					{{> partials/components/community/breadcrumbs}}
				</div>
			</section>
		</main>
		{{> partials/footer}}
	</body>
</html>