<!DOCTYPE html>
<html lang="{{metadata.language}}" data-theme="{{metadata.theme}}">

<head>
    <meta name="robots" content="noindex, nofollow" />

    <title>{{metadata.title}}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/build/styles/fonts.min.css" />
    <link rel="stylesheet" href="/build/styles/resets.min.css" />
    <link rel="stylesheet" href="/build/styles/main.min.css" />
</head>

<body>
    <h1>{{metadata.title}}</h1>
    <p>{{message}}</p>
    <br>
    <a href="{{path}}">Go back</a>
</body>

</html>