<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
    <head>
        {{> partials/head }}
    </head>
    <body>
        {{> partials/components/noscript}}
        {{> partials/main_header }}
        <main class="container">
            {{> partials/components/community/navbar}}
            <div>
                {{community_preview.community_uid}}
                <br>
                {{community_preview.owner_uid}}
                {{#if (eq user.uid community_preview.owner_uid)}}
                    <a href="/community/{{community_preview.community_uid}}/settings">Edit</a>
                {{/if}}
                {{community_preview.is_viewer_outsider}}
            </div>
        </main>
        {{> partials/footer }}
        {{> partials/components/toast_container}}
        {{> partials/nothing}}
    </body>
</html>