<ol id="toast-container" hx-swap-oob="afterbegin">
    <li class="toaster" remove-me="4s" data-type="{{#if toast}}{{toast.type}}{{else}}{{type}}{{/if}}">
        {{#if toast}}
            {{#if (eq toast.type "error")}}
                <i class="fa-solid fa-xmark"></i>
            {{/if}}
            {{#if (eq toast.type "success")}}
                <i class="fa-solid fa-check"></i>
            {{/if}}
            {{#if (eq toast.type "info")}}
                <i class="fa-solid fa-info"></i>
            {{/if}}
            {{#if (eq toast.type "warning")}}
                <i class="fa-solid fa-triangle-exclamation"></i>
            {{/if}}
        {{else}}
            {{#if (eq type "error")}}
                <i class="fa-solid fa-xmark"></i>
            {{/if}}
            {{#if (eq type "success")}}
                <i class="fa-solid fa-check"></i>
            {{/if}}
            {{#if (eq type "info")}}
                <i class="fa-solid fa-info"></i>
            {{/if}}
            {{#if (eq type "warning")}}
                <i class="fa-solid fa-triangle-exclamation"></i>
            {{/if}}
        {{/if}}
        <p>{{#if toast}}{{toast.message}}{{else}}{{message}}{{/if}}</p>
    </li>
</ol>
