<div {{#unless (eq (len communities) 0)}}data-with-grid{{/unless}} data-loading-states id="section-of-communities">
    {{#if (eq (len communities) 0)}}
    <p>0 community found.
        <br>
        Either there are no communities that match the search query or the specified categories.
    </p>
    {{/if}}
    {{#each communities}}
    <a title="{{this.display_name}}" target="_blank" rel="noreferrer noopener" href="/community?community_name={{this.display_name}}"  class="card community__preview-container">
        <div role="presentation" style="background-image: url({{this.cover_image}})" class="with-bg-image community__preview-cover-image"></div>
        <div class="card-child">
            <div class="community__preview-name-img-container">
                <div class="community__preview-img-container">
                    <img
                        src="{{this.display_image}}"
                        alt="{{this.display_name}}'s display image"
                        width="40"
                        height="40"
                        {{#if (gt @index 4)}}
                        loading="lazy"
                        decoding="async"
                        {{/if}}
                    />
                </div>
                <div style="font-size: 1.125rem;">{{this.display_name}}</div>
            </div>
            <p class="community__preview-description">{{this.description}}</p>
            <div style="margin-top: auto; display: flex; align-items: center; gap: 0.5rem;">
                <span>{{#if this.is_private}}Private{{else}}Public{{/if}}</span>
                <span>•</span>
                <span>{{(num_abbr this.total_members)}} member/s</span>
            </div>
        </div>
    </a>
    {{/each}}
</div>