<div id="section-of-communities">
    {{#each communities}}
    <a title="{{this.display_name}}" target="_blank" rel="noreferrer noopener" href="/community?{{this.display_image}}"  class="card community__preview-container">
        <div role="presentation" style="background-image: url({{this.cover_image}})" class="with-bg-image community__preview-cover-image"></div>
        <div class="card-child">
            <div class="community__preview-name-img-container">
                <div class="community__preview-img-container">
                    <img
                        src="{{this.display_image}}"
                        alt="{{this.display_name}}'s display image"
                        width="40"
                        height="40"
                    />
                </div>
                <div style="font-size: 1.125rem;">{{this.display_name}}</div>
            </div>
            <p class="community__preview-description">{{this.description}}</p>
            <div style="margin-top: auto;">
                {{#if this.is_private}}Private{{else}}Public{{/if}}
                &nbsp;•&nbsp;
                <div style="display: inline-block;"  hx-swap="outerHTML" hx-trigger="revealed" hx-get="/preview/community/amount-of-members?community_display_name={{this.display_name}}">
                    Loading...
                </div>
            </div>
        </div>
    </a>
    {{/each}}
</div>