<section class="container" id="about-section">
    <div class="main-about">
        <h1 class="about-title title-md">{{community.display_name}}</h1>
        <div role="presentation" style="background-image: url({{community.cover_image}})" class="background cover-image"></div>
        <div class="about-metadata">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                </svg>
                <span>
                    {{#if community.total_members}}{{(num_abbr community.total_members)}}{{else}}0{{/if}} member/s
                </span>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418" />
                </svg>
                <span>
                    {{#if community.total_online_members}}{{(num_abbr community.total_online_members)}}{{else}}0{{/if}} online
                </span>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                </svg>
                <span>
                    {{#if community.total_admins}}{{(num_abbr community.total_admins)}}{{else}}0{{/if}} admin/s
                </span>
            </div>
            <div>
                {{#if community.is_private}}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                    </svg>
                    <span>Private</span>
                {{else}}
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5V6.75a4.5 4.5 0 1 1 9 0v3.75M3.75 21.75h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H3.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                    </svg>
                    <span>Public</span>
                {{/if}}
            </div>
            <div>
                {{#if community.owner_display_image}}
                    <img
                        src="{{community.owner_display_image}}"
                        alt="{{community.owner_display_name}}'s avatar"
                        width="24"
                        height="24"
                        style="border-radius: 50%;"
                    />
                {{else}}
                    <img
                        src="https://placehold.co/40x40"
                        alt="{{community.owner_display_name}}'s avatar"
                        width="24"
                        height="24"
                        style="border-radius: 50%;"
                    />
                {{/if}}
                <span>By {{community.owner_display_name}}</span>
            </div>
        </div>
        <div class="about-description-container">
            <p class="about-description">{{community.description}}</p>
        </div>
        {{#unless (or community.is_viewer_a_member (eq community.owner_id user._id))}}
            {{#if is_private}}
                {{> partials/templates/input_with_counter}}
                <button type="button" class="primary" onclick="openDialog(this)" aria-controls="join-community-dialog">
                    Join Now
                </button>
                <dialog id="join-community-dialog">
                    <form hx-target="main" hx-target-error="#nothing" data-loading-delay="100" data-loading-path="/community/api/join/private" hx-post="/community/api/join/private" hx-trigger="submit" hx-synx="this, a" action="/community/api/join/private" method="post">
                        <input type="text" hidden name="honeypot" value="" />
                        <input type="number" hidden name="community_id" value="{{community._id}}" readonly />
                        <span class="title-md">Send Join Request</span>
                        <div class="input-group">
                            <input-with-counter data-max-count="255">
                                <label slot="label" for="reason">
                                    Message
                                </label>
                                <textarea slot="input" autofocus name="reason" placeholder="How will you contribute to this community?" minlength="20" maxlength="255" required></textarea>
                            </input-with-counter>
                            <span class="error" id="message-error"></span>
                        </div>
                        <div class="actions"> 
                            <button data-loading-disable type="button" class="secondary" onclick="closeDialog(this)" aria-controls="join-community-dialog">Cancel</button>
                            <button type="submit" class="primary">
                                Send
                            </button>
                        </div>
                    </form>
                </dialog>
            {{else}}
                <form hx-target="main" hx-confirm="Are you sure?" hx-target-error="#nothing" data-loading-aria-busy data-loading-delay="100" data-loading-path="/community/api/join/public" hx-post="/community/api/join/public" hx-sync="this, a">
                    <input type="text" hidden name="honeypot" value="" />
                    <input type="number" hidden readonly name="community_id" value="{{community._id}}">
                    <button data-loading-disable class="primary" type="submit">
                        <span data-loading-class="hidden">Join Now</span>
                        <span data-loading>
                            Please wait...
                            <span class="spinner" data-loading-class="spin"></span>
                        </span>
                    </button>
                </form>
            {{/if}}
        {{/unless}}
    </div>
</section>