{{#if community}}
    <section id="about-section">
        <div class="main-about">
            <h1 class="about-title title-md">{{community.display_name}}</h1>
            <div role="presentation" style="background-image: url({{community.cover_image}})" class="background cover-image"></div>
            <div class="about-metadata">
                <div>
                    <i class="fa-solid fa-user-group fa-sm"></i>
                    <span style="margin-left: 0.5rem;">
                        {{#if community.total_members}}{{(num_abbr community.total_members)}}{{else}}0{{/if}} member/s
                    </span>
                </div>
                <div>
                    <i class="fa-solid fa-globe fa-sm"></i>
                    <span style="margin-left: 0.5rem;">
                        {{#if community.total_online_members}}{{(num_abbr community.total_online_members)}}{{else}}0{{/if}} online
                    </span>
                </div>
                <div>
                    <i class="fa-solid fa-user-tie fa-sm"></i>
                    <span style="margin-left: 0.5rem;">
                        {{#if community.total_admins}}{{(num_abbr community.total_admins)}}{{else}}0{{/if}} admin/s
                    </span>
                </div>
                <div>
                    {{#if community.is_private}}
                        <i class="fa-solid fa-lock fa-sm"></i>
                        <span style="margin-left: 0.5rem;">Private</span>
                    {{else}}
                        <i class="fa-solid fa-lock-open fa-sm"></i>
                        <span style="margin-left: 0.5rem;">Public</span>
                    {{/if}}
                </div>
                <div style="display: flex; align-items: center; gap: 0.5rem;">
                    <img
                        src="{{#if community.owner_display_image}}{{community.owner_display_image}}{{else}}https://placehold.co/40x40{{/if}}"
                        alt="{{community.owner_display_name}}'s avatar"
                        width="24"
                        height="24"
                        style="border-radius: 50%;"
                    />
                    <span>By {{community.owner_display_name}}</span>
                </div>
            </div>
            <div class="about-description-container">
                <p class="about-description">{{community.description}}</p>
            </div>
            {{#unless (or community.is_viewer_a_member (eq community.owner_id user._id))}}
                {{#if is_private}}
                    {{> partials/templates/input_with_counter}}
                    <button type="button" class="primary" onclick="openDialog(this)" aria-controls="join-community-dialog">
                        Join Now
                    </button>
                    <dialog id="join-community-dialog">
                        <form hx-target="main" hx-target-error="#nothing" data-loading-delay="100" data-loading-path="/community/api/join/private" hx-post="/community/api/join/private" hx-trigger="submit" hx-synx="this, a" action="/community/api/join/private" method="post">
                            <input type="text" hidden name="honeypot" value="" />
                            <input type="number" hidden name="community_id" value="{{community._id}}" readonly />
                            <span class="title-md">Send Join Request</span>
                            <div class="input-group">
                                <input-with-counter data-max-count="255">
                                    <label slot="label" for="reason">
                                        Message
                                    </label>
                                    <textarea slot="input" autofocus name="reason" placeholder="How will you contribute to this community?" minlength="20" maxlength="255" required></textarea>
                                </input-with-counter>
                                <span class="error" id="message-error"></span>
                            </div>
                            <div class="actions"> 
                                <button data-loading-disable type="button" class="secondary" onclick="closeDialog(this)" aria-controls="join-community-dialog">Cancel</button>
                                <button type="submit" class="primary">
                                    Send
                                </button>
                            </div>
                        </form>
                    </dialog>
                {{else}}
                    <form hx-target="main" hx-confirm="Are you sure?" hx-target-error="#nothing" data-loading-aria-busy data-loading-delay="100" data-loading-path="/community/api/join/public" hx-post="/community/api/join/public" hx-sync="this, a">
                        <input type="text" hidden name="honeypot" value="" />
                        <input type="number" hidden readonly name="community_id" value="{{community._id}}">
                        <button data-loading-disable class="primary" type="submit">
                            <span data-loading-class="hidden">Join Now</span>
                            <span data-loading>
                                Please wait...
                                <span class="spinner" data-loading-class="spin"></span>
                            </span>
                        </button>
                    </form>
                {{/if}}
            {{/unless}}
        </div>
    </section>
{{else}}
    <section id="about-section">
        <div class="main-about">
            <span class="about-title title-md">404 Not Found</span>
            <br>
            <p>Oops! We cannot find the community on our end. Perhaps it has been deleted?</p>
        </div>
    </section>
{{/if}}