<!DOCTYPE html>
<html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
    <head>
        {{> partials/head }}
    </head>
    <body>
        {{> partials/components/noscript}}
        {{> partials/main_header }}
        <main class="container">
            <div>
                <div>
                    <h1>{{community.display_name}}</h1>
                    <p>{{community.description}}</p>
                    <div class="community__about__stats">
                        <div>{{#if (is_none community.total_members)}}0{{else}}{{(num_abbr community.total_members)}}{{/if}} member/s</div>
                        <div>{{#if community.is_private}}Private{{else}}Public{{/if}}</div>
                        <div>by<div aria-busy="true" hx-trigger="revealed" hx-get="/preview/user/{{owner_uid}}" hx-target-error="#nothing" hx-swap="outerHTML" class="skeleton" style="width: 4rem; height: 2rem;"></div></div>
                    </div>
                </div>
                {{#if (and (eq owner_uid user.uid) (or (is_none community.display_name) (is_none community.cover_image)))}}
                    <div>Add a profile picture and a banner to see your community on
                        <a href="/homepage" rel="noreferrer noopener">Discover</a>.
                    </div>
                {{/if}}
            </div>
        </main>
        {{> partials/footer }}
        {{> partials/components/toast_container}}
        {{> partials/nothing}}
    </body>
</html>