{{#if is_boosted}}
    <head>
        {{> partials/head/main}}
    </head>
    <h1>500 Internal Server Error</h1>
    <p>{{message}}</p>
{{else}}
    <!DOCTYPE html>
    <html lang="{{ metadata.language }}" data-theme="{{ metadata.theme }}">
        <head>
        <meta name="robots" content="noindex, nofollow">
        {{> partials/head/main}}
        </head>
        <body>
            <main>
                <h1>500 Internal Server Error</h1>
                <p>{{message}}</p>
            </main>
        </body>
    </html>
{{/if}}