<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<!-- SEO-->
<title>{{ metadata.title }}</title>
<meta name="title" content="{{ metadata.title }}" />
<meta name="description" content="{{ metadata.description }}" />
<meta name="og:title" content="{{#unless metadata.open_graph }}{{ metadata.title }}{{else}}{{ metadata.open_graph.title }}{{/unless}}" />
<meta name="og:description" content="{{#unless metadata.open_graph }}{{ metadata.description }}{{else}}{{ metadata.open_graph.description }}{{/unless}}" />
{{#if metadata.open_graph.image}}<meta name="og:image" content="{{ metadata.open_graph.image.url }}" />
<meta name="og:image:secure_url" content="{{ metadata.open_graph.image.url }}" />
<meta name="og:image:width" content="{{ metadata.open_graph.image.width }}" />
<meta name="og:image:height" content="{{ metadata.open_graph.image.height }}" />
<meta name="og:image:alt" content="{{ metadata.open_graph.image.alt }}" />{{/if}}
<meta property="og:site_name" content="{{ metadata.site_name }}" />
<!-- Metadata -->
<meta name="environment" content="{{ metadata.env }}" />
<!-- Fonts -->
<link rel="preload" href="/assets/fonts/Roboto/Roboto-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous" />
<!-- Main Stylesheets -->
<link rel="preload" href="/build/styles/fonts.min.css" as="style" />
<link rel="preload" href="/build/styles/resets.min.css" as="style" />
<link rel="preload" href="/build/styles/main.min.css" as="style" />
<link rel="stylesheet" href="/build/styles/fonts.min.css" />
<link rel="stylesheet" href="/build/styles/resets.min.css" />
<link rel="stylesheet" href="/build/styles/main.min.css" />
<!-- Main scripts -->
<link rel="preload" href="/assets/scripts/htmx.min.js" as="script" />
<link rel="preload" href="/assets/scripts/htmx-head.min.js" as="script" />
<script src="/assets/scripts/htmx.min.js"></script>
<script src="/assets/scripts/htmx-head.min.js"></script>
<script defer async src="/assets/scripts/htmx-loading.min.js"></script>
<script defer async src="/assets/scripts/htmx-response-target.min.js"></script>
<script defer async src="/assets/scripts/htmx-remove-me.min.js"></script>
<script defer async src="https://kit.fontawesome.com/d48ee40b59.js" crossorigin="anonymous"></script>
<script defer async src="/assets/scripts/global-scripts.min.js"></script>
<script src="/build/index.min.js" type="module"></script>
<!-- Inline styles -->
<style>[data-loading]{display:none}</style>
<!--Additional resources-->
{{#unless (eq (len stylesheets) 0)}}
{{#each stylesheets as |stylesheet|}}
<link rel="stylesheet" href="{{stylesheet}}">
{{/each}}
{{/unless}}