<meta name="description" content="{{ metadata.description }}">
<meta name="title" content="{{ metadata.title }}">
<!-- Open Graph / Facebook -->
<meta name="og:title" content="{{ metadata.title }}">
<meta name="og:description" content="{{ metadata.description }}">
<meta property="og:site_name" content="{{ metadata.site_name }}">
<meta name="environment" content="{{ metdata.env}}">
<title>{{ metadata.title }}</title>